.pokeItem-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.pokeItem-content {
  width: 100%;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: rgb(245, 202, 86);
  padding: 10px 0px;
  padding-right: 10px;
  box-shadow: 2px 2px 1px #4e1316;
}

.pokeItem-img {
  height: 80px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pokeItem-type {
  margin-left: auto;
  font-size: 12px;
  // background: rgb(60, 173, 60);
  padding: 2px 4px;
  border-radius: 6px;
}
