.dex-wrapper {
  // background: #db3235;
  min-height: 500px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  background: #db3235;
  border-radius: 30px;

  & .dex-content {
    background: #db3235;

    padding: 20px;
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url("../../assets/images/searchBackground.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px;
    padding-left: 70px;
    align-self: flex-end;
    margin: 20px auto;
  }

  & input {
    padding: 16px 20px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-family: "Press Start 2P", cursive;
    background: #242424;
    color: white;

    &::placeholder {
      color: white;
    }
  }
}

.dex-header {
  width: 100%;
  margin-bottom: -20px;

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.typeBadges-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > div {
    margin: 10px;
  }
}
